table.third {
    border-collapse: collapse;
}

table.third th,
table.third td {
    padding: 0.7em;
    vertical-align: top;
    border-left: 2px solid orangered;
    border-right: 2px solid orangered;
}

table.third thead tr:first-child {
    border-top: 2px solid orangered;
    border-bottom: 2px solid orangered;
}

table.third thead tr:nth-child(2) {
    border-bottom: 2px solid orangered;
}

table.third tbody tr:last-child {
    border-bottom: 2px solid orangered;
}